.navbar-background {
  height: 60px;
}

.frame {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(180, 180, 180);
}

.navbar {
  width: 70%;
  height: 60px;
  margin-right: 15%;
  margin-left: 15%;
}

.search-bar {
  float: right;
}

.search-bar:focus {
  border-radius: 35px;
}

.navbar [type="text"] {
  font-size: 15px;
  margin: 14px;
  height: 25px;
  border-color: rgb(201, 201, 201);
  border-radius: 6px;
  border-style: double;
}

.navbar a {
  float: left;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: rgb(95, 95, 95);
  text-decoration: none;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.search-bar i {
  cursor: pointer;
}

.navbar a:active {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
  .navbar {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }
}
